---
layout: default
---
<div class="container col-xxl-8 px-4 py-3">
  <div class="row align-items-start g-5 py-2">
    <nav data-bs-theme="dark" class="bg-dark rounded-3 p-3">
      <span class="p-3 mb-0 h3 no-wrap text-white">
        <a href="{{ site.baseurl }}/" class="text-decoration-none text-light">
          <img src="{{ site.baseurl }}/assets/img/logo_white_transparent.svg" height="80px"
            class="d-inline-block align-text-bottom" alt="Logo">
          AnonAmaze</img>
        </a>
    </nav>
  </div>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">

  <div class="row">
    <div class="col-xl-4 col-xxl-3">
      <h3>Key Features</h3>
      <ul class="list-group small sticky-top">
        {% for feature in site.features %}
        <li class="list-group-item">
          <a href="{{ feature.url }}"
            class="text-decoration-none {% if page.url == feature.url %} text-primary fw-bold {% else %} text-dark {% endif %}">
            <i class="{{ feature.icon }}"></i> {{ feature.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xl-8 col-xxl-9">
      {{ content }}
    </div>
  </div>

</div>